/*
*{
    margin-left: 2px;
}
*/
.crop-img{
  max-height:150px;
  max-width:100%;
}

.large-img{
  max-width:100%;
}

.carousel-img{
    margin: auto;
    padding: 10px;
    max-height: 120;
    max-width:100%;
}

@media (max-width:768px) {
    
    #searchbox{
        display: flex;
        justify-content: center;
        margin: 1.5em;
    }
/*
    .images{
        margin-bottom: 2em;
    }
*/
    #heading {
        margin: 10px;
        margin-left: 80px;
    }

    #details {
        margin: 9px;
        margin-left: 50px;
        padding: 3px;
    }
}



#searchbox{
    margin-right: 4em;
    margin-top: 20px;
    margin-bottom: 0px;
    
    padding: 2px;
    width:85%;
}

/* 
 * uncomment this for some css3 drop shadows and rounded corners.
 */

/*
.thumbnail,.nav, .large-img, .crop-img{
  border-radius: 25px;
  padding-top:5px;
}

.thumbnail,.nav {
  box-shadow: 10px 10px 5px #888888;
}
*/
