<!-- This is a first example of using a template -->

<head>

    <!-- include our libraries and css files -->

    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/handlebars-v3.0.3.js"></script>

    <script src="js/bootstrap.min.js"></script>

    <script src="AnimalsData.js"></script>


    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/gallery.css" rel="stylesheet">

</head>

<body>
    
      <!-- Search form -->
    <div class="container">
        <div class="row">
            <div class="navbar-form navbar-right">
                <input id="searchbox" class="form-control" type="text" placeholder="Search..." aria-label="Search">
            </div>
        </div>
    </div>

    <div id="container">
        <div class="row">
            <div class="col-md-2">
                <div id="content_left">
                    <!-- animal list is rendered here -->
                </div>
            </div>
            <div class="col-md-10">
                <div id="content_right">
                    <!-- animal detail is rendered here -->
                </div>
            </div>
        </div>
    </div>
    
    <!-- this is our template put your code in here...-->
    <script id="category-template" type="text/x-handlebars-template">
        <ul class="nav nav-pills nav-stacked nav-pills-stacked-example">
        {{#each animals}}
            <!-- note that we set the class to js-animal name. This lets us
                assign a click event to this li -->
            <li><a href="#" class="js-animal-name" data-id="{{name}}">{{name}}</a></li>
        {{/each}}
        </ul>
    </script>

    <script id="animal-detail-template" type="text/x-handlebars-template">
        <h2 id="heading">{{name}}</h2>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="img-thumbnail"> 
                        <img src="{{image1}}" alt="{{name}} img 1" class="crop-img images">
                    </div>
                </div>
                <div class="col-md-4">
                   <div class="img-thumbnail">
                    <img src="{{image2}}" alt="{{name}} img 2" class="crop-img images">
                   </div>
                </div>
            </div>
        </div>
        <div class="fluid container row col-md-8" id="details">
           <h4>Description</h4>
            {{description}}
        </div>
        
        
    </script>

  <!-- javascript code to fill the template -->
  <script type="text/javascript">

    // grab our template code from the DOM
    var source   = $("#category-template").html();

    // compile the template so we can use it
    var template = Handlebars.compile(source);

    // generate HTML from the data
    var html    = template(animals_data);

    // add the HTML to the content div
    $('#content_left').html(html);
      
    // this event listener is triggered when the user clicks on an animal name
    $('.js-animal-name').on('click', function rData (e){
        var animal_name = $(e.target).data('id');// pull the data-id attribute, which contains the name
        console.log('rendering detail page for '+animal_name);
        for (var i=0;i<animals_data.animals.length;i++){// look for the animal in the array of animals
            var an_animal = animals_data.animals[i];
            if (an_animal.name == animal_name){// found it!
                break;
            }
        }
        
        
                            // this is to display the description of the item clicked    
                    var source = $("#animal-detail-template").html();

                    // compile the template so we can use it
                    var template = Handlebars.compile(source);

                    // generate HTML from the data
                    var html = template(an_animal);

                    // add the HTML to the content div
                    $('#content_right').html(html);

    });
      
    $('#searchbox').keyup(function(e){
        var my_var = ($('#searchbox').val()).toLowerCase();
        console.log(my_var);
        
        var filteredData = {
            animals: animals_data.animals.filter(function(d){
                if((d.name).toLowerCase().search(my_var) > -1 ){
                    console.log("searching names");
                    return true;
                } else return false;
            })
        }
          
        var html    = template(filteredData);
        $('#content_left').html(html);
        
        $('.js-animal-name').on('click', function rData (e){
            var animal_name = $(e.target).data('id');// pull the data-id attribute, which contains the name
            console.log('rendering detail page for '+animal_name);
            for (var i=0;i<animals_data.animals.length;i++){// look for the animal in the array of animals
                var an_animal = animals_data.animals[i];
                if (an_animal.name == animal_name){// found it!
                    break;
                }
            }


                                // this is to display the description of the item clicked    
                        var source = $("#animal-detail-template").html();

                        // compile the template so we can use it
                        var template = Handlebars.compile(source);

                        // generate HTML from the data
                        var html = template(an_animal);

                        // add the HTML to the content div
                        $('#content_right').html(html);

        });
        
    });
      
      
  </script>

</body>
